<!DOCTYPE html>
<html lang="en">  

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask Template with Components</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script>
    function fillInput() {
      document.querySelector('[name="user_story"]').value = "As a Covered Member, I want to submit a short term disability claim.";
    }
  </script>
</head>

<body>
  <div class="container mt-2">
    <div class="row">
      <div class="col">
        <h5>Dialogue: Build Stories without the grunt work</h5>
      </div>
    </div>
  </div>
  <div class="container mt-2">
    <div class="row">
      <!-- Left Component -->
      <div class="col">
        <div class="left-component p-3 border">
          
          <form action="" method="post">
            <div class="form-group">
              <textarea class="form-control" rows="6" placeholder="Enter user story here" name="user_story"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <!-- Right Component with Tabs -->
      <div class="col-md-3">
        <div class="right-component p-3 border">
          <h6>Score</h6>
          <h6>Context</h6>
        </div>
      </div>
    </div>
    <!-- Bottom Row -->
    <div class="row mt-3">
      <div class="col">
              
        <div class="right-component p-3 border">
          <h6>Diagnostic Details</h6>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tab1">UI Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab2">Data Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab3">Tab 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab3">Tab 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab3">Tab 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab3">Tab 3</a>
            </li>
          </ul>
    
          <!-- Tab Content -->
          <div class="tab-content mt-3">
    
            <div class="tab-pane container active" id="tab1">
              <div class="mt-3">
                <h6>Score: {{ res_ui_analysis['score'] }}</h6>
              </div>
              <div class="mt-3">
                <h6>Suggestions:</h6>
                <ul class="list-group">
                  {% for suggestion in res_ui_analysis['suggestions'] %}
                  <li class="list-group-item">{{ suggestion }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="tab-pane container" id="tab2">
              {{ res_data_analysis }}
            </div>

            <div class="tab-pane container fade" id="tab3">Content of Tab 3</div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="container mt-3">
    <h6> Admin Panel</h6>
    <div class="row mt-3">
      <div class="col">
      <button type="button" class="btn btn-sm btn-secondary mt-2" onclick="fillInput()">Add Placeholder User Story</button>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>